extends layout.pug 

block content 
    div.container
        h1.introp This Web Application allows users to create, delete and update tasks for themselves
        a.startp(href=`/add`) Start writing tasks!
        a.instructionsP(href=`/instructions`) Instructions