doctype html
html(lang='en')
    head
        title TO DO App
        link(rel='stylesheet', href='/static/main.css')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zilla+Slab+Highlight&display=swap' rel='stylesheet')
    body
    div.container
     h1.logo TASKS APP

     block content